.Question {
  margin: 10px auto;
  padding: 25px 10px;
  max-width: 710px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);

  p.question {
    font-size: 17px;
    font-weight: bold;
  }
}
